.git
.gitignore
**/node_modules
!backend/sage_mcp/node_modules
backend/__pycache__
**/__pycache__
*.py[cod]
.env
.env.*
venv
.venv
__pycache__/
Dockerfile*
docker-compose.yml
frontend/dist
frontend/build
